{% extends "layout.html" %}




{% block body %}
<h3 class= "about">Hakkımızda</h3>
<hr>
<p>

Burak Sönmez
<br>
Software Developer | Instructor
<br>
Odtü Bilgisayar Mühendisliğinden hiç mezun olmadım bu sebeple master eğitimimi tamamlayamadım.
Yazılım konusundaki Türkçe kaynak eksikliği ihtiyacını çözmek adına, bilgi ve tecrübelerimi anlatmak için 2015 yılında youtube üzerinden, programlama ve yazılım eğitimleri vermeye başladım. Ayrıca, IEEE Computer Society kapsamında Dokuz Eylül Üniversitesinde ve ODTÜ'de Python eğitmenliği görevlerini üstlenerek, tecrübemi artırmaya çalıştım.
Trendyol şirketinde Software / Back End Developer olarak çalışmaktayım.
Orta Doğu Teknik Üniversitesinde CENG240 lisans dersinde hocalık yapmaktayım. 
Deneyimli olduğum teknolojiler ve araçlar;
<br>
- Java 11 ve Spring Boot
<br>
- Microservis Mimarileri
<br>
- Hexagonal Architecture
<br>
- Apache Kafka
<br>
- Kubernetes ve Docker
<br>
- Gitlab CI</p>
<hr>
{% endblock body %}
